<!DOCTYPE html>
<html ng-app="muhlenberg">
    <head>
        <title>Muhlenberg College Computer Science Club</title>

        <!-- Encoding -->
        <meta charset="UTF-8">

        <!-- Stylesheets -->
        <link href="http://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/assets/css/site.css">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

        <!-- Icons -->
        <!-- <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" sizes="128x128"> -->
        <!-- <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon-57x57.png" sizes="57x57"> -->
        <!-- <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon-72x72.png" sizes="72x72"> -->
        <!-- <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon-76x76.png" sizes="76x76"> -->
        <!-- <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon-114x114.png" sizes="114x114"> -->
        <!-- <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon-120x120.png" sizes="120x120"> -->
        <!-- <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon-144x144.png" sizes="144x144"> -->
        <!-- <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon-152x152.png" sizes="152x152"> -->

        <!-- Generic Meta -->
        <meta name="author" content="Muhlenberg College Computer Science Club">
        <meta name="keywords" content="muhlenberg college,computer science">

        <!-- OpenGraph Meta -->
        <meta property="og:title" content="Muhlenberg College Computer Science Club">
        <meta property="og:site_name" content="Muhlenberg College Computer Science Club">
        <meta property="og:image" content="https://muhlenberg.github.io/assets/images/icons/muhlenberg.png">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https%3A%2F%2Fmuhlenberg.github.io%2F">
    </head>
    <body ng-controller="MuhlenbergController">

        <h1>Muhlenberg College Computer Science Club</h1>

        <h2>Repositories</h2>

        <table class="repos">
            <tr ng-repeat="repo in repos">
                <td class="left">
                    <a class="name" href="{{ repo.html_url }}">{{ repo.name }}</a>
                    <span ng-show="repo.language">({{ repo.language }})</span>
                </td>
                <td class="right">
                    {{ repo.stargazers_count }} stars, {{ repo.watchers_count }} watching
                </td>
            </tr>
        </table>

        <hr>

        <ul class="members">
            <li class="member" ng-repeat="member in members">
                <div class="avatar"><a href="{{ member.html_url }}"><img alt="{{ member.login }}" src="{{ member.avatar_url }}"></a></div>
                <div class="name"><a href="{{ member.html_url }}">{{ member.name || member.login }}</a></div>
            </li>
        </ul>

        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/angular.min.js"></script>
        <script type="text/javascript" src="/assets/js/muhlenberg.js"></script>
    </body>
</html>
