<body>
  <div class="parallax-container">
    <div class="section">
      <div class="container">
        <br>
        <h1 class="header center">Muhlenberg Computer Science Club</h1>
        <div class="parallax">
         <%= image_tag("homepage2.jpg", class: "homepage_img") %>
       </div>
       <span><button class="waves-effect waves-light btn blue">About Us</button></span>
     </div>
   </div>
 </div>

 <div class="container intro">
  <div class="section">
    <div class="row">
      <div class="col s12 m4 icon-block">
        <span><i class="large material-icons">class</i></span>
        <span><h5>Learn</h5></span>
        <p>We are dedicated to exploring new topics, educating ourselves and the community,
          and pursuing the cutting edge world of technology.</p>
        </div>
        <div class="col s12 m4 icon-block">
          <span><i class="large material-icons">grade</i></span>
          <span><h5>Compete</h5></span>
          <p>We participate and compete in several types of competitions. Coding competitions such as ACM,
            hackathons like LVHack, and MLH events like DragonHacks. Education comes first, but winning is fun too! 
        </div>
        <div class="col s12 m4 icon-block">
          <span><i class="large material-icons">settings</i></span>
          <span><h5>Create</h5></span>
          <p>From Drones to Websites, we explore hardware, software, and everything in between. Focusing on cutting
            edge technology like automation, voice search, VR, and more, we like to experiment, discover, and improve
            the best technology out there.
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>
</body>
