<body class="red">
  <div id="homepage_img_wrapper" class="parallax-container">
    <div class="parallax">
      <img class="homepage_img" src="/assets/homepage.jpg"></img>
    </div>
  </div>
</body>
