// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-field label {
	color: color("blue-grey", "lighten-2");
}

/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid $primary-color;
	box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid color("red", "darken-2");
	box-shadow: 0 1px 0 0 #000;
}

body {
	background-color: white;
}

.btn {
	background-color: $primary-color;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.card {
	display: inline-block;
}

.delete-user {
	color: red;
}