<body>
	<% provide(:title, 'All users') %>
	<h1 class="center">All users</h1>

	<div class="container">

		<%= will_paginate %>
		<% @members.in_groups_of(2).each do |row| %>
		<div class="row">
			<% row.each do |member| %>
			<%= render @members %>
			<%end%>
		</div>
		<% end %>

		<%= will_paginate %>
	</div>
</body>